.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 5780px;
  padding: 8vh 9vw;
}

.body--font {
  font-family: "Open-Sans", sans-serif;
  font-weight: normal;
  color: #babde8;
}

button {
  border-radius: 100px;
  border: none;
  width: 8vw;
  height: 6vh;
  margin: 0.5em;
  color: whitesmoke;
}

.codewindow--top__container {
  width: 32vw;
  height: 80vh;
  border-radius: 10px;
  position: relative;
  top: 126vh;
  overflow: hidden;
}

.codewindow--top__nav {
  height: 2.25em;
}

.fa-github {
  color: #312c80;
  position: absolute;
  left: 59%;
  top: 62%;
}

.gradient--medblue__black {
  background: linear-gradient( #383a9f,#201f47)
}

.gradient--darkblue__black {
  background: linear-gradient( #242074,#201f47)
}

.gradient--crimson__salmon {
  background: linear-gradient(to right, #ff7eae, lightsalmon)
}

.gradient--blue__cyan {
  background: linear-gradient(to right, royalblue, cyan)
}

.gradient--cyan__blue {
  background: linear-gradient(to right, cyan, royalblue)
}

.text--gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin-bottom: 0;
  font-size: 1.8em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 1.75em;
}

.logo--raise {
  position: relative;
  top: -10px;
  left: 5px;
}

.logo--top {
  font-size: 1.05em;
}

.titles--font {
  color: white;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.top--login__window {
  position: absolute;
  top: 36vh;
}


.material-icons.icon--2em {
  font-size: 2em;
}

/* Material Icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}